html {
    height: 100%;
    background: linear-gradient(to right, green 50%, red 50%);
}

h1 {
    color: blueviolet;
}

button {
  background-color: green;
  border: 2px solid black;
}

body {
    width: 80%;
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #ff9500;
    border: 5px solid black;
}