html {
    height: 100%;
    background: linear-gradient(to right, green 50%, red 50%);
}

body {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 20px 20px 20px 20px;
  border: 2px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
}

button {
  background-color: green;
  border: 3px solid black;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}