<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Faites votre requête !</title>
        <link href="../static/query.css" rel="stylesheet" />
    </head>
    <body>
        <h1>Que recherchez-vous ?</h1>
        <form action="/query" method="post">
            <p>
                <label for="customer_name">Identité du client (Nom et Prénoms): </label>
                <input type="text" id="customer_name" name="customer_name" placeholder="AGBODJALOU Exaucé">
            </p>
            <p>
                <label for="customer_phone">Numéro de téléphone du client: </label>
                <input type="tel" id="customer_phone" name="customer_phone" placeholder="01-91-61-51-15" pattern="01-[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}">
            </p>
            <p>
                <label for="email_address">Adresse mail du client: </label>
                <input type="text" id="email_address" name="email_address" placeholder="gastonagbdl@gmail.com">
            </p>
            <p>
                <label for="receipt_amount">Montant de la quittance: </label>
                <input type="text" id="receipt_amount" name="receipt_amount">
            </p>
            <p>
                <label for="receipt_place">Poste comptable: </label>
                <input type="text" id="receipt_place" name="receipt_place" placeholder="TGE">
            </p>
            <p>
                <label for="payment_method">Mode de versement: </label>
                <select name="payment_method" id="payment_method">
                    <option value="">INCONNU</option>
                    <option value="ESPECE">ESPECE</option>
                    <option value="CHEQUE">CHEQUE</option>
                    <option value="MOMO">MOMO</option>
                </select>
            </p>
            <p>
                <label for="receipt_reference">Reference de la quittance: </label>
                <input type="text" id="receipt_reference" name="receipt_reference" placeholder="AA-999999-TGE" pattern="AA-[0-9]{6}-TGE">
            </p>
            <p>
                <label for="receipt_time">Heure de la quittance: </label>
                <input type="text" id="receipt_time" name="receipt_time" placeholder="00:00:00">
            </p>
                <label for="receipt_date">Date de la quittance: (mm/ jj/ aaaa)</label>
                <input type="date" id="receipt_date" name="receipt_date">
            <h3>
                <button type="submit">Envoyer</button>
            </h3>
        </form>
        {% if results %}
            <h2>Résultats de la requête: </h2>
            <table border="1">
                <tr>
                    <th>Reference de la quittance</th>
                    <th>Identité du client</th>
                    <th>Numéro de téléphone du client</th>
                    <th>Adresse mail du client</th>
                    <th>Montant de la quittance</th>
                    <th>Poste comptable</th>
                    <th>Mode de versement</th>
                    <th>Heure de la quittance</th>
                    <th>Date de la quittance: (mm/ jj/ aaaa)</th>
                </tr>
                {% for row in results %}
                <tr>
                    {% for col in row %}
                    <td>{{col}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        {% elif results is not none %}
            <p>Aucun résultat ne correspond à votre recherche</p>
        {% endif %}
    </body>
</html>